
.btn {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.1;
  transition: 0.6s
}

.btn:hover {opacity: 1}

body {
  background-color: lightblue;
}